<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CQL-Client</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/Css/codemirror.css">
    <link rel="stylesheet" href="/Css/dracula.css">
    <link rel="stylesheet" href="/Css/main.css">
    <link rel="stylesheet" href="/Css/bootstrap.css">
</head>

<body id="cuerpo" class="cuerpo">
    <center>
        <a href="/Modos">
            <h5>Modo Avanzado</h5>
        </a>
        <button id="btnExcecute" name="btnExcecute" onclick="ejecutar()">
            <img style="width: 50px;" src="/resources/play-button.png">
        </button>
    </center>
    <form method="post" enctype="multipart/form-data" id="formuploadajax" action="/AdvancedMode" style="display: none;">
        <input id="archivo" name="archivo" type="file" name="filename" onchange="enviarArchivo()">
        <input type="submit" name="upload">
    </form>
    <div class="row_layout">
        <div class="column_layout">
            <br>
        </div>
        <div class="column_layout treeView">
            <ul id="myUL">
                <% for(var i=0; i<struc.length; i++) {%>
                <li>
                    <span class="caret"
                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(211, 0, 105);"><b><%=struc[i].base.nombre%></b></span>
                    <ul class="nested">
                        <li>
                            <span class="caret"
                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>Tablas</b></span>
                            <ul class="nested">
                                <% for(var j=0; j<struc[i].base.tablas.length; j++) {%>
                                <li><span class="caret"
                                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(0, 127, 211);"><b><%=struc[i].base.tablas[j].tabla.nombre%></b></span>
                                    <ul class="nested">
                                        <% for(var k=0; k<struc[i].base.tablas[j].tabla.columnas.length; k++) {%>
                                        <li style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);">
                                            <b><%=struc[i].base.tablas[j].tabla.columnas[k]%></b>
                                        </li>
                                        <%}%>
                                    </ul>
                                </li>
                            <%}%>
                                    </ul>
                                </li>
                                <li>
                                    <span class="caret"
                                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>User
                                            Types</b></span>
                                    <ul class="nested">
                                        <% for(var j=0; j<struc[i].base.tipos.length; j++) {%>
                                        <li><span class="caret"
                                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(0, 127, 211);"><b><%=struc[i].base.tipos[j].tipo.nombre%></b></span>
                                            <ul class="nested">
                                                <% for(var k=0; k<struc[i].base.tipos[j].tipo.atributos.length; k++) {%>
                                                <li
                                                    style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);">
                                                    <b><%=struc[i].base.tipos[j].tipo.atributos[k]%></b>
                                                </li>
                                                <%}%>
                                    </ul>
                                </li>
                                <%}%>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="caret"
                                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>Procedimientos</b></span>
                                            <ul class="nested">
                                                <% for(var j=0; j<struc[i].base.procedures.length; j++) {%>
                                                <li
                                                    style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);">
                                                    <b><%=struc[i].base.procedures[j]%></b>
                                                </li>
                                                <%}%>
                                </ul>
                        </li>
                    </ul>
                </li>
                <%}%>
                                            </ul>
        </div>
        <div class="column_layout">
            <br>
        </div>
        <div class="column_layout">
            <center>
                <div id="herramientas" class="row_layout ">
                    <button id="img-modo" onclick="agregarPesta単aEditor()"><img style="width: 20px;"
                            src="/resources/add.png"></button>
                    <button id="img-modo" onclick="closeTab()"><img style="width: 20px;"
                            src="/resources/cancel.png"></button>
                    <button id="img-modo" onclick="abrirArchivo()"><img style="width: 20px;"
                            src="/resources/cloud.png"></button>
                    <button id="img-modo" onclick="guardarArchivo()"><img style="width: 20px;"
                            src="/resources/diskette.png"></button>
                    <button id="img-modo" onclick="ejecutar(true)"><img style="width: 20px;"
                            src="/resources/fast-forward.png"></button>
                    <button id="img-modo" onclick="volver()"><img style="width: 20px;"
                            src="/resources/logout.png"></button>
                </div>
            </center>
            <div id="pesta単asEditor" class="row_layout AreaTexto ">
                <div id="tabsEditor" class="tabsEditor">
                    <button class="tablinks" onclick="openTabEditor(event, 'tb', editor, true, this)">Editor</button>
                </div>
                <div id="tb" class="tabEditor">
                    <textarea id="myTextarea" name="myTextarea"></textarea>
                </div>
            </div>
            <div id="row_pesta単as" class="row_layout pesta単as">
                <div id="tab" class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Consola')">Consola</button>
                    <button class="tablinks" onclick="openTab(event, 'PaquetesEnviados')">Paquetes Enviados</button>
                    <button class="tablinks" onclick="openTab(event, 'PaquetesRecibidos')">Paquetes Recibidos</button>
                </div>
                <div id="Consola" class="tabcontent">
                    <textarea id="consolaArea" name="consolaArea"
                        class="consola"><% if(listaMensajes != undefined){listaMensajes} %></textarea>
                </div>

                <div id="PaquetesEnviados" class="tabcontent">
                    <textarea id="paqueteAreaEnviado" name="paqueteAreaEnviado"
                        class="consola"><%= paquetesOut %></textarea>
                </div>

                <div id="PaquetesRecibidos" class="tabcontent">
                    <textarea id="paqueteAreaRecibido" name="paqueteAreaRecibido"
                        class="consola"><%= paquetesIn %></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="/Js/codemirror.js"></script>
    <script src="/Mode/sql/sql.js"></script>
    <script src="/Mode/javascript/javascript.js"></script>
    <script src="/Js/Jquery.js"></script>
    <script src="/Js/Login.js"></script>
    <script src="/Js/bootstrap.js"></script>
    <script src="/Js/filesaver.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "sql",
            mode: "javascript",
            theme: "dracula"
        });
        editor.setSize(null, 267);
        $('#button').on('click', function () {
            $('#file-input').trigger('click');
        });
        //editor.setSize(null, 240);
    </script>
    <script src="/Js/main.js"></script>


</body>

</html>