<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/main.css">
    <link rel="stylesheet" href="/Css/bootstrap.css">
    <title>Login</title>
</head>

<body style="background-color: rgba(25, 50, 66, 0.411);">
    <center>
        <h1>Bienvenido a CQL-Teacher</h1>
    </center>
    <div class="form">
        <form action="/Login" method="get">
            <center>
                <h1>Iniciar Sesión</h1>
            </center>
            <br>
            <center>
                <input id="nombreUsuario" name="nombreUsuario" placeholder="Usuario">
                <br>
                <br>
                <input id="password" name="password" type="password" placeholder="Contraseña">
                <br>
                <br>
                <button type="submit" formmethod="post" class="btn btn-success">Iniciar Sesión</button>
            </center>
        </form>
    </div>
    <%if(errores != undefined && errores.length>0){%>
        <table class="table">
            <tr>
                <th scope="col">fila</th>
                <th scope="col">columna</th>
                <th scope="col">tipo</th>
                <th scope="col">descripcion</th>
                <th scope="col">fecha</th>
            </tr>
            <% for(var k=0; k<errores.length; k++) {%>
                <tr>
                    <td><%=errores[k].error.fila%></td>
                    <td><%=errores[k].error.columna%></td>
                    <td><%=errores[k].error.tipo%></td>
                    <td><%=errores[k].error.descripcion%></td>
                    <td><%=errores[k].error.fecha%></td>
                </tr>
            <%}%>                       
        </table>
    <%}%>
    <%if(luplogoutEnviado != undefined && luplogoutRecibido != undefined){%>
        <h6>
                <%=luplogoutEnviado%>
        </h6>
        <h6>
                <%=luplogoutRecibido%>
        </h6>
    <%}%>
    <script src="/Js/Jquery.js"></script>
    <script src="/Js/bootstrap.js"></script>
    <script src="/Js/Login.js"></script>
</body>

</html>