<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CQL-Client</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/Css/codemirror.css">
    <link rel="stylesheet" href="/Css/dracula.css">
    <link rel="stylesheet" href="/Css/main.css">
    <link rel="stylesheet" href="/Css/bootstrap.css">
    <script src="/Js/codemirror.js"></script>
    <script src="/Mode/sql/sql.js"></script>
    <script src="/Mode/javascript/javascript.js"></script>
    <script src="/Js/blockly/blockly_compressed.js"></script>
    <script src="/Js/blockly/blocks_compressed.js"></script>
    <script src="/Js/blockly/javascript_compressed.js"></script>
    <script src="/Js/blockly/en.js"></script>
    <script src="/Js/blockly/generator.js"></script>
    <script src="/Js/blockly/bloqueCommit.js"></script>
</head>

<xml id="toolbox" style="display: none">
    <category name="Sentencias de control" colour="160">
        <block type="controls_if"></block>
        <block type="controls_switch"></block>
    </category>
    <category colour="120" name="Ciclos">
        <block type="controls_whileUntil"></block>
        <block type="dowhile"></block>
        <block type="controls_for">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
            <value name="BY">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Sentencias" colour="290">
        <block type="use"></block>
        <block type="insert"></block>
        <block type="insertspecial"></block>
        <block type="update"></block>
        <block type="delete"></block>
        <block type="specialdelete"></block>
        <block type="select"></block>
        <block type="where"></block>
    </category>
    <category name="Atributos" colour="120">
        <block type="campo"></block>
        <block type="all"></block>
        <block type="campo_tabla"></block>
    </category>
    <category name="Operadores" colour="20">
        <block type="logic_operation"></block>
        <block type="logic_compare"></block>
        <block type="logic_negate"></block>
        <block type="math_arithmetic"></block>
        <block type="text_join"></block>
    </category>
    <category name="Valores" colour="210">
        <block type="example_date">
            <field name="FIELDNAME">2020-02-20</field>
        </block>
        <block type="time"></block>
        <block type="expresion"></block>
        <block type="text"></block>
        <block type="math_number"></block>
        <block type="logic_null"></block>
        <block type="logic_boolean"></block>
        <block type="logic_ternary"></block>
    </category>
    <category name="Variables" colour="330" custom="VARIABLE">
    </category>
    <category name="Variable" colour="330">
        <block type="tipo"></block>
        <block type="variables_get">
            <field name="VAR">a</field>
        </block>
    </category>
    <category name="Procedimientos" colour="130">
        <block type="text_print">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_changeCase">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="substring"></block>
        <block type="with"></block>
        <block type="llamada"></block>
        <block type="call"></block>
    </category>
</xml>

<body id="cuerpo" class="cuerpo">
    <center>
        <a href="/Modos">
            <h1>Modo Intermedio</h1>
        </a>
        <button id="btnExcecute" name="btnExcecute" onclick="ejecutar()">
            <img style="width: 50px;" src="/resources/play-button.png">
        </button>

    </center>

    <div class="row_layout">
        <div class="column_layout">
            <br>
        </div>
        <div class="column_layout treeView">
            <ul id="myUL">
                <% for(var i=0; i<struc.length; i++) {%>
                <li>
                    <span class="caret"
                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(211, 0, 105);"><b><%=struc[i].base.nombre%></b></span>
                    <ul class="nested">
                        <li>
                            <span class="caret"
                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>Tablas</b></span>
                            <ul class="nested">
                                <% for(var j=0; j<struc[i].base.tablas.length; j++) {%>
                                <li><span class="caret"
                                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(0, 127, 211);"><b><%=struc[i].base.tablas[j].tabla.nombre%></b></span>
                                    <ul class="nested">
                                        <% for(var k=0; k<struc[i].base.tablas[j].tabla.columnas.length; k++) {%>
                                        <li style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);">
                                            <b><%=struc[i].base.tablas[j].tabla.columnas[k]%></b>
                                        </li>
                                        <%}%>
                                    </ul>
                                </li>
                            <%}%>
                                    </ul>
                                </li>
                                <li>
                                    <span class="caret"
                                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>User
                                            Types</b></span>
                                    <ul class="nested">
                                        <% for(var j=0; j<struc[i].base.tipos.length; j++) {%>
                                        <li><span class="caret"
                                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(0, 127, 211);"><b><%=struc[i].base.tipos[j].tipo.nombre%></b></span>
                                            <ul class="nested">
                                                <% for(var k=0; k<struc[i].base.tipos[j].tipo.atributos.length; k++) {%>
                                                <li
                                                    style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);">
                                                    <b><%=struc[i].base.tipos[j].tipo.atributos[k]%></b>
                                                </li>
                                                <%}%>
                                    </ul>
                                </li>
                            <%}%>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="caret"
                                                style="font-family:Arial, Helvetica, sans-serif; color: rgb(151, 0, 211);"><b>Procedimientos</b></span>
                                            <ul class="nested">
                                                <% for(var j=0; j<struc[i].base.procedures.length; j++) {%>
                                                <li><span class="caret"
                                                        style="font-family:Arial, Helvetica, sans-serif; color: rgb(4, 146, 103);"><b><%=struc[i].base.procedures[j].tipo.nombre%></b></span>
                                                </li>
                                                <%}%>
                            </ul>
                        </li>
                    </ul>
                </li>
                <%}%>
                                            </ul>
        </div>
        <div class="column_layout">
            <br>
        </div>
        <div class="column_layout AreaTexto">
            <div class="row_layout">
                <div class="column_layout" id="blocklyDiv">
                </div>
                <div class="column_layout AreaTexto2">
                    <textarea id="myTextarea" name="myTextarea">
                        <span>hola</span>
                    </textarea>
                </div>
            </div>
            <div id="row_pestañas" class="row_layout pestañas">
                <div id="tab" class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Consola')">Consola</button>
                    <button class="tablinks" onclick="openTab(event, 'PaquetesEnviados')">Paquetes Enviados</button>
                    <button class="tablinks" onclick="openTab(event, 'PaquetesRecibidos')">Paquetes Recibidos</button>
                </div>
                <div id="Consola" class="tabcontent">
                    <textarea id="consolaArea" name="consolaArea"
                        class="consola"><% if(listaMensajes != undefined){listaMensajes} %></textarea>
                </div>

                <div id="PaquetesEnviados" class="tabcontent">
                    <textarea id="paqueteAreaEnviado" name="paqueteAreaEnviado"
                        class="consola"><%= paquetesOut %></textarea>
                </div>

                <div id="PaquetesRecibidos" class="tabcontent">
                    <textarea id="paqueteAreaRecibido" name="paqueteAreaRecibido"
                        class="consola"><%= paquetesIn %></textarea>
                </div>
            </div>
        </div>
    </div>
    <script>
        var workspace = Blockly.inject('blocklyDiv',
            {
                toolbox: document.getElementById('toolbox'),
                zoom:
                {
                    controls: true,
                    wheel: true,
                    startScale: 1.0,
                    maxScale: 3,
                    minScale: 0.3,
                    scaleSpeed: 1.2
                },
                trashcan: true
            });
        var code = Blockly.JavaScript.workspaceToCode(workspace);
        function myUpdateFunction(event) {
            var code = Blockly.JavaScript.workspaceToCode(workspace);
            editor.setValue(code);
        }
        workspace.addChangeListener(myUpdateFunction);
    </script>
    <script>
        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "sql",
            mode: "javascript",
            theme: "dracula"
        });
            //editor.setSize(auto, 100);
    </script>
    <script>

    </script>
    <script src="/Js/main.js"></script>
    <script src="/Js/Jquery.js"></script>
    <script src="/Js/Login.js"></script>
    <script src="/Js/bootstrap.js"></script>
</body>

</html>